body {
    font-family: "Poppins", sans-serif;
    color: #494949;
}

p {
    font-family: inherit;
    color: inherit;
}

#main-container {
    height: 100vh;
}

.container-fluid {
    padding: 1rem 2rem 0 2rem;
}

.example-buttons {
    text-align: left;
    font-size: medium;
    border-radius: 10px;
    font-family: inherit;
}

.button-hint {
    max-width: 30rem;
}

#user-input {
    height: 3rem;
    resize: none;
}

#logo {
    float: right;
    height: 60px;
    margin-top: 5px;
}

.message-box {
    max-width: 33vw;
    width: max-content;
    padding: 5px 10px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: none;
}

.user-message {
    margin-left: auto;
    margin-right: 0;
    color: #fff;
    background-color: #337cff;
}

.ai-message {
    margin-left: 0;
    margin-right: auto;
    color: #383838;
    background-color: #f5f5f5;
}

.thumbnail {
    border-radius: 50%;
    height: 36px;
    margin-right: 5px;
    float: left;
}

.weather-icons {
    width: 100%;
    max-width: 6rem;
    border-radius: 20%;
    background-color: white;
}

.weather-card {
    margin-bottom: 1rem;
    background-color: #f5f5f5;
    border: none;
    color: #383838;
}

.weather-cards-wrapper {
    max-height: 73vh;
    overflow-y: auto;
}

.button-wrapper {
    max-height: 62vh;
    max-width: max-content;
    overflow-y: auto;
}

.small-icons {
    width: 2rem;
    color: #494949;
}

.icon-col {
    display: flex;
    align-items: center;
}

.button-column {
    min-width: min-content;
    padding-right: 2rem;
}

.forecast-column {
    padding-left: 2rem;
    min-width: 26rem;
}

.chat-column {
    padding: 0 1vw;
}

.location {
    margin-bottom: 1rem;
}

.fa-location-dot {
    width: 1.5rem;
}

.fa-paper-plane {
    margin-right: 5px;
}

.card-title {
    color: #494949;
}

.btn-primary {
    --bs-btn-color: #383838;
    --bs-btn-bg: #f5f5f5;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #337cff;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 97, 149, 239;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2963bd;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2963bd;
    --bs-btn-disabled-border-color: none;
}

@media (max-width: 1300px) {
  .forecast-column {
      width: 50vw;
      margin: auto;
      padding-top: 5rem;
      min-width: 26rem;
  }
}

@media (pointer: none), (pointer: coarse) {
  .button-column {
      display: none;
  }
  .forecast-column {
      display: none;
  }
}


/*Dark Theme*/

body {
    background-color: #272727;
    color: #F8F9FA;
}

#user-input {
    border-color: white;
}

.btn-primary {
    --bs-btn-bg: #353535;
    --bs-btn-color: #F8F9FA;
}

.weather-card {
    background-color: #353535;
    color: #F8F9FA;
}

.card-title {
    color: #F8F9FA;
}

.small-icons {
    color: #F8F9FA;
}

.weather-icons {
    background-color: #252525;
}

.ai-message {
    background-color: #353535;
    color: #F8F9FA;
}