/*Dark Theme*/

body {
    background-color: #272727;
    color: #F8F9FA;
}

#user-input {
    border-color: #F8F9FA;
}

.btn-primary {
    --bs-btn-bg: #353535;
    --bs-btn-color: #F8F9FA;
}

.weather-card {
    background-color: #353535;
    color: #F8F9FA;
}

.card-title {
    color: #F8F9FA;
}

.small-icons {
    color: #F8F9FA;
}

.weather-icons {
    background: none;
    filter: drop-shadow(5px 2px 6px black);
}

.ai-message {
    background-color: #353535;
    color: #F8F9FA;
}