body {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: inherit;
}

.container-fluid {
    padding: 1rem 2rem 0 2rem;
}

.example-buttons {
    text-align: left;
    font-size: medium;
    border-radius: 10px;
    font-family: inherit;
}

.button-hint {
    max-width: 30rem;
}

#user-input {
    height: 3rem;
    resize: none;
}

#logo {
    float: right;
    height: 60px;
    margin-top: 5px;
}

.message-box {
    max-width: 33vw;
    width: max-content;
    padding: 5px 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.user-message {
    margin-left: auto;
    margin-right: 0;
}

.ai-message {
    margin-left: 0;
    margin-right: auto;
}

.thumbnail {
    border-radius: 50%;
    height: 36px;
    margin-right: 5px;
    float: left;
}

.icons {
    width: 100%;
    max-width: 6rem;
}

.weather-card {
    margin-bottom: 1rem;
}

.weather-cards-wrapper {
    max-height: 73vh;
    overflow-y: auto;
}

.button-wrapper {
    max-height: 62vh;
    max-width: max-content;
    overflow-y: auto;
}

.mar {
    width: 2rem;
}

.icon-col {
    display: flex;
    align-items: center;
}

.button-column {
    min-width: min-content;
}

@media (max-width: 1550px) {
  .forecast-column {
      width: 50vw;
      margin: auto;
      padding-top: 5rem;
      min-width: 26rem;
  }
}
